///FORMS////

// Font imports

@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);

// Color vars

$white: #fff;
$grey: #ccc;
$dark_grey: #555;
$blue: #4f6fad;
$pink: #ee9cb4;
$green: #476042;

// Mixins

@mixin lato-book { font-family: 'Lato', sans-serif; font-weight: 300; }
@mixin lato-reg { font-family: 'Lato', sans-serif; font-weight: 400; }
@mixin lato-bold { font-family: 'Lato', sans-serif; font-weight: 700; }
@mixin btn($color) {
  background-color: $color;
  border-bottom-color: darken($color, 15%);
  &:hover {
    background-color: lighten($color, 5%);
  }
}

// Functions

@function pxtoem($target, $context){
  @return ($target/$context)+0em;
}

//

body {
  background-color: lighten($grey, 10%);
  font-size: 100%;
  @include lato-reg;
}
div, textarea, input {
}
.form-container {
  min-width: 324px;
  margin: 50px auto 0px;
  background-color: $white;
  border: 1px solid lighten($grey, 1%);
  border-bottom: 3px solid $grey;
}
.row {
  width: 100%;
  margin: 0 0 1em 0;
  padding: 0 2.5em;
  &.header {
    max-height: 120px;
    padding: 1.5em 2.5em;
    border-bottom: 1px solid $grey;
    color: $white;
  }
  &.body {
    padding: .5em 2.5em 1em;
  }
}
.pull-right {
  float: right;
}
h1 {
  @include lato-book;
  display: inline-block;
  font-weight: 100;
  font-size: pxtoem(45, 16);
  border-bottom: 1px solid hsla(100%, 100%, 100%, 0.3);
  margin: 0 0 0.1em 0;
  padding: 0 0 0.4em 0;
}
h3 {
  @include lato-reg;
  font-size: pxtoem(20, 16);
  margin: 1em 0 0.4em 0;
}
.btn {
  font-size: pxtoem(17, 16);
  display: inline-block;
  padding: 0.74em 1.5em;
  margin: 1.5em 0 0;
  color: $white;
  border-width: 0 0 0 0;
  border-bottom: 5px solid;
  text-transform: uppercase;
  @include btn(darken($grey, 10%));
  @include lato-book;
  &.btn-submit {
    @include btn($blue);
  }
}

form {
  max-width: 100%;
  display: block;
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      margin: 0 0 0.25em 0;
      clear: both;
      display: inline-block;
      width: 100%;
      &:last-child {
        margin: 0;
      }
      p {
        margin: 0;
        padding: 0;
      }
      .req {
        color: $pink;
      }
    }
  }
  label {
    display: block;
    margin: 0 0 0.5em 0;
    color: $blue;
    font-size: pxtoem(16, 16);
  }
  input {
    width: 100%;
    margin: 0 0 0 0;
    border: 1px solid $grey;
    padding: 6px 10px;
    color: $dark_grey;
    font-size: pxtoem(16, 16);
  }
  textarea {
    border: 1px solid $grey;
    padding: 6px 10px;
    width: 100%;
    color: $dark_grey;
  }
  small {
    color: $blue;
    margin: 0 0 0 0.5em;
  }
}

// Media Queries

@media only screen and (max-width:480px) {
  .pull-right {
    float: none;
  }
  input {
    width: 100%;
  }
  label {
    width: 100%;
    display: inline-block;
    float: left;
    clear: both;
  }
  li, p {
    width: 100%;
  }
  input.btn {
    margin: 1.5em 0 0.5em;
  }
  h1 {
    font-size: pxtoem(36, 16);
  }
  h3 {
    font-size: pxtoem(18, 16)
  }
  li small {
    display: none;
  }
}

a{
  font-size: 12px;
}

//////////////////

.top-panel{
  height: 45px;
  position: fixed;
  top:0;
  left: 0;
  width:100%;
  z-index:100;
  padding:7px;
  background: $green;
  form{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .logged-user{
    p{
      margin-top:5px;
      font-size: 14px;
      color: #fff;
    }
  }
}

.btn-submit2{
  min-width: 90px;
  height: 30px;
}

.submit-area{
  button{
    min-width: 90px;
    height: 30px;
  }
}

.register-complete{
  h2{

  }
  h3{

  }
}

.input-wrapper{
  padding: 10px 0;
  input, textarea{
    width: 100%;
  }
  input[type="submit"]{
    width: 150px;
  }
}

.owl-carousel{
  background: #eee;
  position: relative !important;
  bottom: -45px !important;
}

.list-of-topics{
  .list-element{
    padding: 10px 0;
    width: 100%;
    border-bottom: 1px solid #999;
    a{
      letter-spacing: 4px;
      font-size: 14px;

    }
  }
}

.divider {
  margin: 0.5em 0 0.5em 0;
  border: 0;
  height: 1px;
  width: 100%;
  display: block;
  background-color: $blue;
  background-image: linear-gradient(to right, $pink, $blue);
}

.pad{
  padding: 0;
}

.info-box{
  width: 500px;
  margin: auto;
  opacity: 0.7;
  border: 1px solid #4f6fad;
  padding: 21px;
  background: #4f6fad;
  color: #fff;
  text-align: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
    h5{
      font-size: 13px;
    }
}
.content-all{
  padding: 10px 20px 60px 20px;
  //margin-left: 170px;
  //margin-right: 170px;
  border-left: 1px dashed #333;
  border-right: 1px dashed #333;
  color: #555;
  background-color: #fff;
}

.post-content {
  margin: 30px 0;
  .head_style{
    letter-spacing: 3px;
    color: #6A9662;
    background: #fff;
  }
}

.comment-element{
  border: 1px solid #000;
  margin:10px 0;
  .comment-top-panel {
    display: flex;
  justify-content: center;
    align-items: center;
    .date{
      padding: 2px 0;
      p{
        margin:0;
      }
    }
    .author{
      padding: 2px 0;
      p{
        margin:0;
      }
    }
    padding: 0 5px;
    background: #476042;
    color: #fff;
  }
}
.photo-wrapper{
  .photo{
    width: 50px;
    margin: auto;
    img{
      width: 50px;
    }
  }
}
